/* .heading div span:nth-child(2)::after {
    content: '';
    border-bottom-style: dashed;
    width: 100%;
    top: 20px;
    position: absolute;
    margin-right: 10px;
    color: #b4b4b4;
} */

.heading div span:first-child {
    box-shadow: 0px 0px 3px silver;
    background-color: white;
    border-radius: 50%;
    padding: 6px 12px 4px;
    margin-left: 10px;
}

.downloadbtn {

    border-radius: 8px;
    background-color: var(--gray);
    border: none;
    color: #ffffff;
    padding: 2px 8px;
    z-index: 2;
}

.downloadbtn:hover {
    background-color: var(--second-color);

}

.heading>div {
    display: flex;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    padding: 8px 2px 4px 0;
}

.titleStyle {
    display: block;
    width: 100%;
    display: flex;
}