.coursePreveiw video {
    width: 100%;
    border-radius: 12px;
    height: auto;
    display: block;
    margin: auto;

}

.coursePreveiw {
    width: 96%;
    border-radius: 20px;
    padding: 20px 0 40px;
    display: block;
    margin: auto;
}

.note {

    color: var(--second-color);
    font-size: 11pt;
    text-align: center;
    font-weight: bold;
    padding: 23px 0px;


}

.description .tab>div {
    width: 143px;
    font-size: 10pt;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    color: var(--gray);
    font-weight: bold;
}

.description .tab {
    display: flex;
    border-bottom: 2px solid var(--border-bottom);
}



.data {
    margin-top: 14px;
}

.active {
    background-color: #aaaaaa;
    height: 100%;
    border-radius: 10px 10px 0 0;
    z-index: 3;
    color: #ffffff !important;
    font-weight: normal !important;
}

.title span {
    color: var(--gray);
    font-weight: bold;
}

.content {
    padding: 2rem 1rem;
    font-size: 12pt;
    line-height: 2;
    color: var(--gray);
}
.content> div>div >p{
    font-size: 12pt;

}


.content h6 {
    line-height: 3;
}
.coursePIc {
    width: 100%;
    border-radius: 8px;
}
#topics  h4{
    font-size: 13pt;
    font-weight: bold;
    line-height: 2;
}
#topics  h4 li,#des>div > ul >li{
    font-size: 12pt;
    font-weight: normal;
}
#des>p strong span ,#des h5 {
    color: var(--second-color) !important;
    font-weight: bold;
    font-size: 16pt;
}

#des>p span {
    color: var(--dark-pen) !important;
    line-height: 1.5 !important;
}