.container {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(243 243 243 / 64%);
    z-index: 99;

}
.yourCourses{
    color: var(--second-color);
}
.menuBar {
    right: 0;
    top: 0;
    bottom: 0;
width: 80%;
    height: 100vh;
    background-color: var(--primary-white);
    box-shadow: var(--boxShadow);
    border-radius: 18px 0 0 18px;
    z-index: 11;
    overflow: auto;
    animation-name: showMenu;
    animation-duration: 1s;
}

.logo {
    display: inline-block;
    background-color: var(--primary-white);
    box-shadow: var(--boxShadow-dark);
    border-radius: 50%;
    padding: 16px 4px;
    border: 1px solid var(--gray);
}

.menuHeader img {
    width: 50px;
    object-fit: cover;
}

.menuHeader {
    background-color: var(--light-blue);
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
    position: relative;
}

.closemenu {
    position: absolute;
    top: 16px;
    left: 16px;
    color: var(--dark-pen);
}

.closemenu:hover {
    color: var(--primary-white);
}

.menuHeader p {
    margin: 8px;
    font-size: 11pt;
}

.menuHeader p:last-child {
    font-size: 10pt;

}

.menuItem ul {
    list-style: none;
    font-size: 10pt;
}

.menuItem {
    padding: 16px 0;
}

.menuItem>ul>li a {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    padding-right: 8px;
    z-index: 2;

}


.menuItem li:hover a::after {
    animation-name: menuHover;
    animation-duration: 1s;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    border-radius: 20px 0 0 20px;
    background-color: #a3e0e171;
    border-right: 4px solid #19a29e;
    display: block;
    color: red !important;
    z-index: -1;
}

.menuItem li a img {
    width: 30px;
    padding-left: 10px;
}

.menuItem li:nth-child(6) a img {
    padding-left: 4px !important;
}

@keyframes menuHover {
    0% {
        width: 0;

    }

    100% {
        width: 80%;

    }
}

@keyframes showMenu {
    0% {
        width: 0
    }

    100% {
        width: 80%;
    }
}

@media(max-width:530px) {
    .menuBar {
        width: 80%;
    }
}

@media(max-width:300px) {
    .menuBar {
        width: 80%;
    }
}