.item {

    display: inline-block;
    background-color: var(--primary-white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--boxShadow);
    direction: rtl;
    margin: 10px 0;
    cursor: pointer;
    transition-duration: 0.5s;
    width: 100%;
}

.item:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 8px #00a9ac8a;
}

.item>div {
    width: 100%;
}

.content {

    padding: 12px 8px;
    border-bottom: 1px solid #b4b4b4;

}

.item>span>img {
    width: 100%;

}

.teacher,
.duration {
    display: flex;
    align-items: center;
}

.content h4 {
    font-size: 12pt;
    color: #7a7a7a;
    font-weight: bold;
    line-height: 1.6;
    min-width: 161px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 47px;
}

.teacher {
    color: var(--gray);
    font-size: 11pt;
}

.duration {
    color: #a9a9a9;
    font-size: 10pt;
}

.duration >span {
    margin-left: 10px;

}

.Courseprice {
    padding: 10px;
}

.price {
    font-size: 12pt;
    color: var(--primary-green);
    font-weight: bold;
}

.teacher> img {

    margin-left: 4px;

}

.duration >img {

    margin: 0 3px 0 4px;
}

.specialoffDisplay {
    display: none;
}

.off {
    display: flex;
    justify-content: space-between;
    font-size: 11pt;
    padding: 0 10pt 5pt;

}

.off >div> span:first-child {
    color: red !important;
}

.off >div:first-child >span:first-child {
    text-decoration: line-through;
    text-decoration-color: red;
}

.off >div:first-child >span:last-child {
    color: var(--primary-green)
}

.off>div:first-child {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.offRate {
    display: flex;
    flex-direction: row-reverse;
}

.offRate >img {
    height: 32px;
}

.offRate >div {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    text-align: left;
}

.offRate> div >span:last-child {
    color: var(--gray);
}
.percent{
    color: var(--red-pen);
}
.timer {
    z-index: 1;
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
}

.counter {
    font-size: 14pt;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.counter span:first-child {
    margin: 0 1px;
}

.counter span:last-child {
    font-size: 9pt;


}
.disableCourse{
    opacity:50%;
}
/* @media(max-width:1061px) {
    .teacher {

        font-size: 9pt;
    }

    .duration {

        font-size: 8pt;
    }

    .price {
        font-size: 9pt;
    }
} */

/* 
@media(max-width:1143px) {
    .item>span>img {
        height: 125px;
    }
}
@media(max-width:741px){
    .item>span>img {

        height: 181px;
    }
}
@media(max-width:600px){
    .item>span>img{
        height: 150px;
    }
}
@media(max-width:526px){
    .item>span>img{
        height: 250px;
    } 
}
@media(max-width:400px){
    .item>span>img{
    height: 171px;
   }
} */