.filters ul li svg {
    width: 16px;
    float: left;
    transition-duration: 1s;
    border: 2px solid #686868;
    border-radius: 50%;
    padding: 2px;
}
.filterMobile{
    padding: 8px 24px 24px;
    color: var(--dark-pen);
}
.filters div {
    padding: 4px 12px;
}

.title {
    text-align: center;
    padding: 1rem 0 0;
}

.filters {
    padding-bottom: 18px;
    font-size: 12pt;
}

.filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filters ul li {
    cursor: pointer;
    padding: 7px 0;
    border-top: 1px solid var(--border-bottom)
}

.filters label {
    display: block;
    cursor: pointer;
    padding: 3px 0;
    font-size: 11pt;
}

.filters label:hover {
    background-color: #f3f3f3;

}

.rotate {
    transform: rotate(178deg);
}

.show {
    display: block !important;
}

.filters div input {
    margin-left: 4px;
}

.subitem {
    display: none;
}
.displayNone{
    display: none;
}