.allCategoriy > div label{
    display: block;
    cursor: pointer;
    padding: 3px 0;
    font-size: 12pt;
}
.allCategoriy > div{
    padding: 4px 12px;
    border-top: 1px solid var(--border-bottom);
}
.allCategoriy p{
    text-align: center;
    padding: 1rem 0 0;
}
.allCategoriy > div input{
   margin-left: 8px;
}
.allCategoriy{
    padding: 8px 24px 24px;
}