.footerwave>svg>path {
    stroke: none;
    fill: #fff;
}

.footerwave {
    height: 200px;
    overflow: hidden;
}

.footerwave>svg {
    height: 100%;
    width: 100%;
}

.footer {
    margin-top: -40px;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-left: 3rem;
    background-color: white;
    direction: rtl;

}

.footer>div>div:first-child>div:not(:last-child) {
    border-left: 2px solid #d2d2d2;
}

.namad>iframe {
    width: 80%;
    height: 200px;
    
}

.footer>div>div:first-child>div:not(:last-child) {
    border-left: 2px solid #d2d2d2;
}

.footer .ContactUsfoot {
    padding: 0em 3em;
}

.footer .ContactUsfoot>div {
    width: 70%;
    margin: auto;
    text-align: right;
}

.btnclass {
    background-color: var(--primary-orange);
    border-radius: 8px;
    padding: 8px 20px;
    color: white;
    box-shadow: var(--boxShadow-orange);
    font-size: 10pt;
}

.phonenumber {
    padding: 0px;
    position: relative;
    text-align: right;
    margin-top: 3rem;
}

.phonenumber svg,
.addressfoot svg {
    color: var(--dark-gray);
    margin-left: 20px;
    width: 30px;
    display: inline-block;
}

.phonenumber>p {
    display: inline-block;
    position: absolute;
    color: var(--dark-gray);
    top: 1px;
}

.phonenumber>p>a {
    color: var(--dark-gray);
    font-size: 16pt;
}

.addressfoot {
    margin: 1rem 0;
    text-align: right;
}

.addressfoot>p {
    display: inline-flex;
    margin-bottom: 0px;
    color: var(--dark-pen);
}

.phonenumber>svg,
.addressfoot svg {
    color: var(--dark-gray);
    margin-left: 20px;
    font-size: 18pt;
    display: inline-block;
}

.footermenu ul {
    list-style: none;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: max-content;
}

.footermenu>ul>li a:hover {
    color: var(--second-color) !important;
}

.footermenu ul li:first-child {
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 12px;
    color: var(--dark-gray);
}

.footermenu ul li {
    padding: 8px 12px;
    display: block;
    text-align: right;
    margin: auto;
    color: var(--gray);
    cursor: pointer;
}

.footermenu ul:last-child {
    padding-left: 0px;
    float: left;
}

.bottomfooter {
    border-top: 1px solid var(--gray);
    width: 100%;
}

.footertext {
    text-align: right;
    margin: 12px 0px;
    display: inline-block;
    width: max-content;
    float: right;
}

.footertext>p {
    color: var(--dark-pen);
    text-align: right;
    margin-bottom: 0px;
    font-size: 11pt;
    display: inline-block;
    padding-left: 4px;
}

.footertext>p>a {
    color: var(--second-color) !important;
    cursor: pointer;
    font-weight: bold;
}

.socialmedifooter {
    float: left;
    padding: 12px 0px;
    width: max-content;
    direction: ltr;
}

.socialmedifooter>a>svg {
    color: var(--dark-gray);
    width: 20px;
}

.socialmedifooter>a {
    cursor: pointer;
    text-decoration: none;
    margin: 2px 8px;
}

.footermenu ul li a {
    text-decoration: none;
    cursor: pointer;
    color: var(--gray);
}

@media(max-width:1304px) {
    .footermenu ul li:first-child {
        font-size: 12pt;
    }

    .footermenu ul li {
        font-size: 10pt;

    }

    .footermenu ul:last-child {
        margin: 0px !important;
        padding: 0px !important;


    }

    .addressfoot>p {
        font-size: 11pt;
    }

    .phonenumber>p>a {
        font-size: 14pt;
    }

    .phonenumber svg,
    .addressfoot svg {
        width: 20px;
    }

    .footer .ContactUsfoot>div {
        width: 100%;
        text-align: center;
        margin-top: 5%;
    }

    .footer {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        text-align: -webkit-center;
    }
}

.footerResponsive .footermenu div {
    margin-bottom: 10px;
}

.footerResponsive .footermenu div a {
    color: var(--gray);
    margin-left: 24px;
    font-size: 10pt;
    display: inline-block;
}

.footerResponsive .ContactUs div div {
    display: flex;
    margin: 16px 0 0 24px;
    align-items: baseline;

}

.contact div a {
    color: black
}

.footerResponsive .contact {
    display: flex;
    align-items: center;

    font-size: 11pt;

}

.footerResponsive div svg,
.footerResponsive div svg {
    width: 12px;
    margin-left: 10px;
}

#InstaLinkFoot svg {
    width: 26px;
}

.footermenu {
    width: fit-content;
    display: block;
    margin: auto;
    padding: 0.5rem

}

@media(max-width: 991px) {
    .footertext {
        width: auto;
    }
}

@media(max-width:963px) {
    .footer ul {
        padding: 0;
    }
}

@media(max-width:830px) {
    .footertext p {
        font-size: 9pt;
    }

    .socialmedifooter>a>svg {
        width: 15px;
    }
}

@media(max-width:651px) {
    .socialmedifooter {
        float: none;
    }

    .footer,
    .ContactUsfoot {
        padding: 0.5rem !important;
    }
}

@media(max-width:500px) {
    .footer {
        margin-bottom: 4rem;
    }

}