.mobileCourse {

    margin: 3rem 0 6rem 0;
}

.dropboxTab img {
    width: 18px;
    margin-left: 12px;
}

.dropboxTab>div {
    display: flex;
    align-items: center;
}

.categories,
.filters {
    width: 100%;
    background-color: var(--primary-white);
    padding: 8px 16px;
    font-size: 10pt;
}

.filters {
    border-left: 1px solid var(--border-bottom);
}

.allCourse {
    width: 96%;
    display: block;
    margin: auto;
    margin-top: 1rem;
}


@media(max-width:768px) {

    .categories,
    .filters {
        padding: 8px 4px;;
        text-align: center;
    }
}