.userComment {
   
    padding: 40px 40px 0 0;
}

.deatails {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.userComment p,
.admin p {
    padding: 10px 30px;
    font-size: 9pt;
    color: var(--gray);
}

.deatails span:first-child,
.admin div {
    font-size: 12pt;
    color: #757575;
}

.deatails span:last-child {
    font-size: 10pt;
    color: var(--gray);
}
.userComment img{
height: fit-content;
width: 40px;
}
.admin img{

}

.admin {

    padding: 10px 5rem 0 0;
}

.admin div img {
    width: 30px;
    margin-left: 10px;
}

.admin div img:first-child {
    transform: rotate(160deg) scaleX(-1);
}

.commentstyles:not(:last-child) {
    border-bottom: 1px solid rgb(194, 194, 194)
    ;
}
@media(max-width:768px){
.userComment p{
    padding: 10px 8px;
    margin: 0;
}
}
@media(max-width:525px){
    .userComment{
        padding: 0 ;
    }
    .admin{
        padding: 10px 2rem 0 0;
    }
    .userComment img {
        width: 40px;
    height: 40px ;
    }
    .admin  div img{ 

        width: 25px;
        height:25px ;
    }

}
