.colStyle {

    background-color: var(--primary-white);
    border-radius: 12px;
    box-shadow: var(--boxShadow);

}

.intro {
    padding: 10px 0;
    height: 550px;
}

.introText {
    padding: 4rem 2rem 0 0;
}

.introimg img {
    width: 100%;
    display: block;
    margin: auto;
}

.intro p {
    text-align: right;
    color: var(--gray);
    font-size: 14pt;
    line-height: 1.7;
    text-align: justify;

}

.boldText {
    color: var(--second-color);
    margin-top: 2rem;
    text-align: center;
    font-family: 'IranNastaliq' !important;
}

.title h4 {
    text-align: center;
    color: var(--gray);
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 16pt;
}

.register {
    text-align: -moz-center;
    text-align: -webkit-center;
    margin-top: 6rem;
    transition-duration: 1s;
}

.register:hover {
    transform: scale(1.09);
}

.btnText {
    background-color: var(--primary-white);
    border-radius: 10px;
    box-shadow: var(--boxShadow-orange);
    position: absolute;
    bottom: 6px;
    left: 5px;
    display: flex;
    width: 234px;
    flex-direction: column;
    text-align: center;
    padding: 10px 12px;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.btnText span:first-child {
    color: var(--main-color);
    font-weight: bold;
    text-shadow: var(--boxShadow);
}

.btnText span:last-child {
    color: var(--main-color);
    font-size: 9pt;
}

.registerBtn {
    background-color: #ff914b;
    position: relative;
    display: block;
    width: 250px;
    height: 57px;
    border-radius: 12px;
    border: 3px solid var(--main-color);

}

.registerBtn:hover,
.btnText:hover {

    box-shadow: 0 0 10px #ff914b;
}

.title span {
    width: 100px !important;
    display: inline-block;
    display: none !important;
}

.introimg span {
    display: block !important;
    margin-top: 1.5rem !important;
}

.introimg img {
    width: 100% !important;
    height: 100% !important;
}

.title {
    display: flex;
    align-items: center;
    place-content: center;
}


@media(max-width:1176px) {
    .introimg span {
        margin-top: 0rem !important;
    }
}

@media(max-width:881px) {

    .introText {
        padding: 1rem;
    }

    .intro {
        height: auto;
    }

    .title h4 {
        margin-bottom: 1rem;
    }

    .register {
        margin-top: 3rem;
    }
}

@media(max-width:768px) {

    .introimg span {
        display: none !important;
    }

    .title span {
        display: block !important;
        margin-left: 1rem !important;
    }

    .title {
        place-content: normal;

    }

    .title h4 {
        margin: 0 !important;
    }

}

@media(max-width:360px) {

    .btnText {
        width: 200px;
    }

    .registerBtn {
        width: 216px;
    }

    .title img,
    .title h4 {
        font-size: 14pt;

    }

}

@media(max-width:333px) {
    .title img {
        display: none;

    }

    .title {
        place-content: center;
    }

    .title span {
        margin-left: 0 !important;
    }

}

@media(max-width:300px) {
    .title h4 {
        font-size: 11pt;
    }
}