.container{
    text-align: center;
}
.container img{
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: 60%;
}
.classProgram{
    border: none;
    background-color: #ff4f5a;
    color: var(--primary-white);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
}
.backindex{
    border: 1px solid #ff4f5a;
    color: #ff4f5a;
    padding: 0.5rem 1rem;
    width: 183px;
    margin-bottom: 2rem;
    margin: 1rem 0.5rem;
    border-radius: 8px;
}
.hi{
    color: red;
}
@media(max-width:390px){
    .container button{
        width: 100%;
        margin-bottom: 1rem;
    }
    .container img{width: 100%;}
    .backindex {
    margin: 0;

    }
}
