.evidence {
    display: flex;
    align-items: center;
}

.evidence div {
    color: var(--gray);
    font-size: 10pt;
  
}
.evidence div:first-child p:last-child{
    line-height: 2;
}
.evidenceImage img{
    width: 86%;
    float: left;
}

.content div p:first-child{
    font-size: 14pt;
    padding: 8px 8px;   margin: 0;
    font-weight: bold;
    
}
.content div{
    padding: 2rem 3rem 0 0;
}
@media(max-width:902px){
    .evidenceImage img{
        width: 100%;
    }
  .evidence div{
      font-size: 9pt;
  }.content div{
    padding: 0 1rem ;
}
}
@media(max-width:768px){
    .reverse{
      flex-direction: column-reverse;
    }
    .evidenceImage img{
        width: 70%;
        display: block;
        margin: auto;
        float: none;
    }
    .content p:first-child{
       text-align: center;
       font-size: 12pt;
    
    }
}
