.searchBox input {
    height: 40px;
    text-align: left;
    font-size: 10pt;
    border: none;
    border-bottom: 1px solid var(--second-color);
    border-radius: 0% !important;
}

.searchBox {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #29292970;
    z-index: 2;
}

#search {
    width: 40%;
    display: block;
    margin: auto;
    padding: 2rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    margin-top: 2rem;

}

#search svg {
    width: 18px;

}

#search>span {
    color: var(--second-color);
    padding: 8px 16px;
}

#search span:last-child:hover {
    background-color: var(--second-color);
    color: #ffffff;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 5px;
    display: block;
    right: 5px;
}

.close img {

    width: 16px;
}

.close:hover {
    cursor: pointer;
    color: var(--second-color);
}