.request > img {
    width: 20rem;
    padding: 2rem 0;
}

.request {
    width: 100%;
    display: flex;
    justify-content: space-around;
        text-align: center;
        align-items: center;
        padding: 0.5rem;
}
.content{

    text-align: center;
    color: var(--gray);
   
    font-size: 16pt;
}


.request >div > div> a {
    margin-top: 3rem;
    font-size: 12pt ;

}

@media(max-width:757px) {
    .request > img {

        width: 37%;
    }

    .request >div > div> a {
        margin-top: 1rem;
    }
    .content{
        font-size: 14pt;
    }
    .request >div{
        padding: 1rem 0;
    }
}

@media(max-width:415px) {
.request >span{
    width: 200px !important;
}
    .request >div > div> a  ,
    .request > div {
        padding: 6px 8px;
        margin-top: 0.5rem;
        font-size: 8pt !important;
    }
    .content{
        font-size: 10pt;
    }
}

@media(max-width:300px) {
    .request >div > div> a { 
        font-size: 6pt !important;
        padding: 6px 8px !important;
    }
    .content{
        font-size: 9pt;
    }
}