 .course {
     padding: 16px;
     display: flex;
     align-items: center;
     font-size: 9pt;
     justify-content: space-between;
     position: relative;
     color: var(--gray);

 }

 .course >div {
     display: flex;
     flex-direction: column;

 }

 .close {
     position: absolute;
     left: 23px;
     top: 12px;
     cursor: pointer;
 }

 .courseinfo {
     margin-right: 16px;
     margin-bottom: 16px;
 }

 .courseinfo span:not(:last-child),
 .price span:not(:last-child) {
     margin-bottom: 8px;
 }

 .courseinfo span:first-child {
     font-size: 10pt;
     font-weight: bold;

 }

 .courseinfo span:not(:first-child) {
     font-size: 8pt;
 }

 .off{
     text-decoration: line-through;
     color: #ff1818;
     font-size: 12pt;

 }

 .price span:nth-child(2) {
     font-size: 9pt;
 }

.totalPrice{
     font-size: 12pt;
     color: var(--primary-green);
 }

 .price {
     text-align: center;
     margin-left: 2rem;
 }

 .mobilePrice {
     display: none !important;
     width: 100%;
     text-align: center;
     padding-top: 16px;
     border-top: 1px solid var(--border-bottom);
 }

 .mobilePrice>div {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
 }
.mobilePrice >div span:first-child{
    color: var(--primary-green);
    font-weight: bold;
}
.mobilePrice >div span:last-child{
    color: red;
    text-decoration: line-through;
    font-weight: bold;
}
.mobilePrice > p{
padding-top: 8px ;
margin: 0;
font-size: 9pt;

}
.courseinfo img{
    margin-left: 4px;
}
.timer {
    z-index: 1;
    display: inline-flex;
    align-items: baseline;
    flex-direction: row-reverse;
}

.counter {
    font-size: 14pt;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.counter span:first-child {
    margin: 0 1px;
}

.counter span:last-child {
    font-size: 9pt;


}
 @media(max-width:500px) {
     .price {
         display: none !important;
     }

     .mobilePrice {
         display: block !important;
     }

     .course {
         flex-direction: column;
         align-items: flex-start;
     }
 }