

.classprogram {
    padding: 12px;
margin-top: 2rem;

    margin-bottom: 1rem;
}

.classprogram p {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 10pt;
}

.finished {
    color: rgb(245, 22, 22) !important;

}

.onperforming {
    color: #f2ba20 !important;
}

.notheld {
    color: var(--primary-green) !important;
}

.classprogram>div ul {
    list-style: none;
    padding: 0;
}

.classprogram>div ul li {
    font-size: 9pt;
    padding: 4px 0;
    color: var(--dark-pen);
}

.classprogram>div ul li:first-child {
    font-size: 13pt;
    font-weight: bold;
}

.sessionSelection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7f1f2;
    font-size: 10pt;
    padding: 8px 0;
    color: var(--dark-pen);
}

.selected {
    background-color: var(--primary-white);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 150px;
    border-radius: 8px;
    z-index: 2;
    padding: 6px 8px;
    border: 1px solid var(--border-bottom);
    font-size: 10pt;
}

.selected svg {
    width: 0.5rem;
}



.selectitem {
    display: none;
    position: absolute;
    top: 36px;
    background-color: var(--primary-white);
    width: 100%;
    list-style: none;
    padding: 16px 0;
    left: 0;
    box-shadow: var(--boxShadow);
    max-height: 210px;
    overflow-y: scroll;
    border-radius: 8px;
}

.selectitem li {
    padding: 6px;
}

.selectitem li img {
    width: 12px;
    margin-right: 4px;
    display: none;
}

.lock {
    color: #ababab;
}

.lock img {
    display: inline-block !important;
}

.session {
    margin-top: 1rem;
    padding: 16px;
    color: var(--dark-pen);
}

.session p {
    font-size: 11pt;
    font-weight: bold;
}

.session>div>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    font-size: 9pt;
}

.session>div>div span:last-child {
    background-color: white;
    padding-right: 8px;
    z-index:0;
}

.session>div>div span:first-child::after {
    content: '';
    border-bottom-style: dashed;
    width: 100%;
    top: 11px;
    position: absolute;
    margin-right: 10px;
    color: #dbdbdb;
}

.session>div>div:last-child span:last-child {
    color: #ff2020;
}

.evidence {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem;
}

.displayBox {
    display: block;
}

@media(max-width:500px) {

    .classprogram>div ul li:first-child {
        font-size: 10pt;
    }

}