.title {

    text-align: center;
    color: var(--main-color);
    font-size: 12pt;
    font-weight: bold;
    padding: 30px 0 0;

}
.seeClass{
    color: var(--second-color) !important;
    font-weight: bold;
    cursor: pointer;
}
.userClass {
 width: 70%;
 display: block;
 margin: auto;
 margin-top: 4rem;

}

.tableprogram::-webkit-scrollbar {
    width: 5px !important;
    height: 3px !important;
}

.tableprogram::-webkit-scrollbar-thumb {
    background-color: #353b5354;
    border-radius: 10px;
}

.program {
    height: 550px;
    position: relative;
}

.tableprogram {
    max-height: 300px !important;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.tableprogram table thead {
    background-color: #ebf5f6;
    border: 1px solid #d2d2d2;
    color: var(--gray);

}

.tableprogram table thead th {
    font-size: 9pt;
    font-weight: normal !important;
}

.tableprogram table tbody td {
    font-size: 9pt;
    color: var(--gray);
    padding: 10px 0;
}



@media(max-width:470px) {
.userClass {
    width: 90%;
}
    .programHeader,
    .tableprogram table thead th,
    .tableprogram table tbody td {
        font-size: 8pt !important;
    }
}
@media(max-width:300px) {
    .userClass {
        width:99%;
    }
 
    }