 .tableprogram::-webkit-scrollbar {
     width: 5px !important;
     height: 3px !important;
 }

 .tableprogram::-webkit-scrollbar-thumb {
     background-color: #353b5354;
     border-radius: 10px;
 }

 .program {
     height: 550px;
     position: relative;
 }

 .tableprogram {
     max-height: 300px !important;
     overflow-y: auto;
     overflow-x: hidden;
     text-align: center;
 }

 .tableprogram table thead {
     background-color: #ebf5f6;
     border: 1px solid #d2d2d2;
     color: var(--gray);

 }

 .tableprogram table thead th {
     font-size: 9pt;
     font-weight: normal !important;
 }

 .tableprogram table tbody td {
     font-size: 9pt;
     color: var(--gray);
     padding: 10px 0;
 }

 .title {

     text-align: center;
     color: var(--main-color);
     font-size: 12pt;
     font-weight: bold;
     padding: 30px 0 0;
 }

 .programHeader {
     padding: 0 20px;
     display: flex;
     justify-content: space-between;
     color: var(--gray);
     font-size: 9pt;
 }

 .programHeader div:first-child p:first-child {
     font-size: 11pt;
     font-weight: bold;


 }



 .programHeader div p:last-child {
     margin-bottom: 2px;

 }

 .programHeader div p:first-child {
     margin-bottom: 4px;
 }

 .evidence {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 12px 16px;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     box-shadow: var(--boxShadow);

 }



 .disable span {
     font-size: 10pt;
     opacity: 50%;
 }

 .disable button:disabled,
 .disable button[disabled] {
     opacity: 50%;
 }

 .evidence button {
     padding: 8px 40px !important;
 }

 @media(max-width:600px) {

     .programHeader,
     .tableprogram table thead th,
     .tableprogram table tbody td {
         font-size: 8pt !important;
     }
 }

