.container {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    background-color: var(--primary-white);
    box-shadow: var(--boxShadow);
    align-items: center;
}

.asanAmoz {
    color: var(--main-color) !important;
    font-weight: bold;
}

.basketcount {
    position: relative !important;
}

.count {
    background-color: red;
    width: 6px;
    position: absolute;
    height: 6px;
    left: 39px;
    border-radius: 50%;

}

.userLogin {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.userLogin span {
    color: var(--main-color);
    margin-right: 4px;
}

.userLogin svg {
    width: 26px;
    color: var(--main-color)
}
.yourCourse svg{
    width: 10px;
    color: var(--gray);
    margin-left: 4px;
}
.icoins img:not(:last-child) {
    margin-left: 20px;
}

.icoins img {
    cursor: pointer;
}

.icoins {
    display: flex;
    align-items: center;
    position: relative;
}

.menu {
    display: flex;

    align-items: center;
    font-size: 10pt;
}

.menu>div {
    display: flex;
    align-items: center;
}

.menuitems>li svg {
    width: 8px;
}

.menuitems li:first-child svg {
    width: 20px;

}

.asan span,
.hamburgerMenu span {
    width: 80px !important;
}

.arrowDown {
    width: 12px !important;
    margin-right: 4px;
    cursor: pointer;
}

.yourCourse {
    min-width: 100px;
    position: absolute;
    top: 22px;
    background: var(--primary-white);
width: 100%;
    box-shadow: var(--boxShadow);
    margin: 0;
    padding: 0;
    z-index: 50;
}

.yourCourse li {
    padding: 0.5rem;
    display: block;
    cursor: pointer;
}

.yourCourse li:hover {
  color: var(--second-color);
}

.menuitems {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 !important;
}

.menuitems li {
    margin-right: 22px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--dark-gray);
}

.menuitems li a {
    color: var(--dark-gray);
}

.menuitems li a:hover {
    color: var(--second-color) !important;
}

.menuitems li div a:hover {
    background-color: var(--second-color);
    color: var(--primary-white) !important;
}

.subItem {
    display: none;
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    width: 156px;
    top: 19px;
    border: 1px solid rgba(0, 0, 0, .15);
    z-index: 2;
}

.subItem a svg {
    width: 16px;
    margin-left: 10px;
}

.subItem a {
    display: flex;
    align-items: center;
    padding: 4px 10px;
}

/* .subItem a:last-child svg {
    width: 12px;
} */

.show {
    display: block !important;
}

#search {
    display: none;
}

.hamburgerMenu {
    width: 100%;
    color: var(--dark-pen) !important;
    display: flex;
    justify-content: space-between;
    padding: 8px 2rem;
    background-color: var(--primary-white);
    box-shadow: var(--boxShadow);
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}

.hamburgerMenu> img {
    width: 90px;
}

.hamburgerMenu svg {

    width: 20px;
}


.hamburgerMenu svg:hover,
.undo:hover {
    color: var(--main-color);
}

@media(max-width:1060px) {
    .icoins img:last-child {
        width: 100px;
    }

    .icoins img:not(:last-child) {
        width: 18px;
    }

    .menu {
        font-size: 8.5pt;
    }

    .menuitems li div a svg {
        width: 13px;
    }

    .menuitems li:first-child svg {
        width: 16px;

    }

    .menuitems li {
        margin-right: 16px;
    }

    .menu>div>a {
        font-size: 8pt;
        padding: 8px 12px;
    }

    .container {
        padding: 8px;
    }
}

@media(max-width:840px) {

    .menuitems li {
        margin-right: 12px;
    }

}

/*
@media(max-width:500px) {

    .icoins>img:not(:last-child) {

        display: none;
    }
.icoins > img:last-child{
    width: 70px;
}
    .hamburgerMenu svg,
    .undo {
        color: var(--dark-gray);
        width: 18px;
        display: block;
    }
} */