.tabBar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.tabBar >div{
    padding: 6px 8px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-white);
    box-shadow: var(--boxShadow);
}
.contactUs{
    margin-top: -3rem;
    background-color: var(--primary-white);
    box-shadow: 0px 5px 10px #e0e0e0;
    border-radius: 50%;
    padding: 16px;
    place-self: center;
    width: auto !important;
}
.tabBar .tab img{
    display: block;
    margin: auto;
}
.tabBar .tab{
    text-align: center;
    font-size: 6pt;
    width: 50px;
}






















