.phonenum {
    font-size: 15pt;
    color: #eca553;
    margin: 0 6px;
}
.error{
    color: var(--red-pen);
    font-size: 8pt;
}
.text {
    color: #039be4;
    font-size: 14pt;
}
.sppiner{
    width: 1rem !important;
    height: 1rem !important;
    margin-right: 0.5rem !important;
}

.changePhone {
    color: #039be4;
    border: 1px solid #039be4;
    background-color: var(--primary-white);
    width: 100%;
    border-radius: 6px;
    padding: 0.4rem;
    font-size: 11pt;
}

.formcontrol {
    display: block;
    width: 100%;
    border-radius: 6px !important;
    padding: 0.6rem;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--light-gray);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
}

.formcontrol::placeholder {
    color: var(--light-gray) !important;
    font-size: 10pt;
}

.formcontrol input[type=number] {
    -moz-appearance: textfield !important;
}

.allbuttons {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
}

.allbuttons button {
    border: none;
    border-radius: 10px;
    font-size: 12pt;
    width: 45%;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

.allbuttons button:first-child {
    background-color: #039be4;
    color: var(--primary-white);
    box-shadow: 0 0 10px #b8dbff;
    margin-left: 0.5rem;
    border: 1px solid var(--second-color);


}

.allbuttons button:last-child {
    background-color: #fffbf8;
    border: 1px solid var(--red-pen);
    color: var(--red-pen);
}

.notShow {
    display: none
}

.show {
    display: block;
}

.getCode {
    text-align: center;
}

@media(max-width:350px) {
    .phonenum {
        font-size: 11pt;

    }

    .text {
        font-size: 10pt;
    }
    .allbuttons button{
        font-size: 10pt;
    }
}