.tabbar2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.tabbar2>div:nth-child(2) {
    padding: 8px 8px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-white);
    box-shadow: var(--boxShadow);
    align-items: center;
}

.tabbar2>div button {
    margin: 0;
}

.tabbar2 div {
    align-self: center;
    width: 100%;
}

.tabbar2>div>div>span:first-child {
    font-size: 9pt;
}

.tabbar2>div>div>span:last-child {
    color: var(--primary-green);
    width: 100%;
    text-align: center;
    display: block;
    font-size: 12pt;

}
.off{
    text-decoration: line-through;
    text-decoration-color: red;
    color: #a0a0a0;
}
.contactUs {
    background-color: var(--primary-white);
    box-shadow: 0px 5px 10px #e0e0e0;
    border-radius: 50%;
    padding: 12px;
    width: auto !important;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
}


