.chosePort {
    padding: 20px;
    display: block;
    position: sticky;
    top: 0
}

.submitbtn {
    color: #ffffff;
    background-color: var(--main-color);
    padding: 8px 16px;
    border-radius: 8px 0 0 8px;
    font-size: 10pt;
    border: none;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: #ff3200;
}

.discountCode {
    direction: ltr;
    margin: 20px 0 15px 0;
    border-bottom: 1px solid var(--border-bottom);
}

.discountCode input {
    font-size: 10pt !important;
    border: none;
    border-bottom: 1px solid var(--main-color);
    border-radius: 0px !important;
    text-align: right;
}

.discountCode input::placeholder {
    font-size: 9pt;
    text-align: right;
}

.port {
    padding: 12px 0 28px 0;
    border-bottom: 1px solid var(--border-bottom);
}

.port span:first-child {
    font-size: 11pt;
    display: block;
    color: var(--dark-gray);
    margin-bottom: 24px;
}

.allport {
    justify-content: space-evenly;


}

.portitem {
    padding: 4px;
}

.portitem>div {

    /* padding: 10px;
    display: block;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 3px gainsboro;
    text-align: center;
    cursor: pointer; */
    width: 100%;
    height: 90px;
    padding: 8px 0;
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 3px gainsboro;
    background-color: #ffffff;
    /* cursor: pointer */
}

/* .portitem:hover {
    box-shadow: var(--boxShadow);
    border-radius: 8px;
} */


.portitem:first-child img {
    width: 97px;
    height: 45px;
}

.portitem:last-child img {
    height: 45px;
    width: 120px;
}

.submitbtn:disabled {
    opacity: 60%;
}

.submitbtn:disabled:hover {
    background-color: var(--main-color);
}

.portitem span {
    display: block;
    font-size: 10pt;
}

.price {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 0;
}

.off {
    text-decoration: line-through;
    text-decoration-color: red;
    color: #a0a0a0;
    font-size: 14pt;
    margin-bottom: 8px;
}

.totalPrice {
    color: var(--primary-green);
    font-size: 16pt;
}

.selectedPort {
    background-color: #97d4d2 !important;
}

@media(max-width:768px) {
    .portitem span {
        font-size: 8pt;
    }
}

@media(max-width:500px) {

    .chosePort div:nth-child(3),
    .chosePort div:nth-child(4) {
        display: none;
    }

    .chosePort div:nth-child(2) {
        border: none;
    }

    .chosePort {
        margin-bottom: 4rem;
    }
}