.mainbtn{
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 8px 20px;
    color: white !important;
    box-shadow: 0px 3px 6px rgb(255 102 1 / 38%);
    font-size: 9pt;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.mainbtn:hover{
    box-shadow: 0px 0px 12px rgb(255, 102, 0);

}