.filterSticky {
    position: sticky;
    display: block;
    top: 0;
    width: 90% !important;
}

.filters ul li svg {
    width: 10px;
    float: left;
    color: #686868;
    transition-duration: 1s;
}

.filters div {
    padding: 4px 12px;
}

.title {
    text-align: center;
    padding: 20px;
}

.filters {
    padding-bottom: 18px;
    font-size: 10pt;
}

.filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filters ul li {
    cursor: pointer;
    padding: 7px 0;
    border-top: 1px solid #e4e4e4;
}

.filters label {
    display: block;
    cursor: pointer;
    padding: 3px 0;
    font-size: 9pt;
}

.filters label:hover {
    background-color: #f3f3f3;

}

.rotate {
    transform: rotate(178deg);
}

.show {
    display: block !important;
}

.filters div input {
    margin-left: 4px;
}

.subitem {
    display: none;
}
.check:checked{
    background-color: red !important;
}

@media(max-width:991px) {
    .title {
        padding: 10px 0 0 0 !important;
    }

    .filters ul>li>div {
        font-size: 9pt;
    }

    .subitem label {
        font-size: 7pt;
    }

    .filters ul li img {
        width: 7px;
    }
    .filterSticky{
        width: 100% !important;
    }
}
