.basketempty {
  text-align: center;
}

.basketempty>h4 {
  color: var(--light-gray);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.basketempty>svg {
  width: 90px;
  color: var(--light-gray);


}

@media(max-width:768px) {
  .center {
    align-self: center;
  }

  .reverse {
    flex-direction: column-reverse;
    margin-top: 2rem;
  }
}