.secondlyButton{
    background-color: var(--second-color);
    color: var(--primary-white);
    border-radius: 8px;
    margin: auto;
    padding: 8px 16px;
    box-shadow: var(--boxShadow);
    width: 96%;
    margin-top: 6%;
    cursor: pointer;
    font-size: 10pt;
    display: block;
    border: none;
    text-align: center;
}
.secondlyButton:hover{
    box-shadow: 0px 0px 12px rgb(0, 183, 255);

}
.sppiner{
    width: 1rem !important;height: 1rem !important;
    margin-right: 1rem;
}