

.comments {


    padding: 24px 46px;


}

.comments p {
    font-size: 11pt;
    font-weight: bold;
    color: var(--dark-gray);
}

.AllComment {
    padding: 0 24px;
margin-bottom: 2rem;
}

.invalid {
    color: var(--red-pen) !important;
    margin-top: 8px;
}
.valid {
    margin-top: 1rem;
    color: var(--primary-green) !important;
    
}
.userdata  div input {
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    height: 34px;
    width: 204px;
    font-size: 10pt;

}

.userdata {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.userdata div:not(:last-child) {
    margin-left: 14px;
}

/* 
.userdata input::placeholder,
.commnetText textarea::placeholder {
    font-size: 9pt;
    color: #cccccc;
    padding: 5px;
}

*/

.commnetText textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
}

.commnetText textarea::placeholder,
.userdata input::placeholder {

    font-size: 9pt;
    color: #b6b6b6;
}

.submitComment {
    text-align: center;
    margin-top: 2rem;
}
.submitComment >div{
    display: inline-block;
}
.invalid{
    border-color: red !important;
    font-size:8pt
}
.more{
    border: none;
    background-color: transparent;
    display: block;
    margin: auto;
    color: var(--dark-gray);
}
.arrowndown{
    width: 10px;
    color: var(--dark-gray);
    margin-right: 4px;
}
@media(max-width:907px) {

    .userdata input {
        width: 30%;
    }
}
@media(max-width:825px){
    .userdata input {
        width: 50%;
        margin-bottom: 0.5rem !important;
        

    }
    .userdata{
        flex-direction: column;
    }
    .userdata div:not(:last-child) {
        margin-left: 0;
    }
}

@media(max-width:600px) {

    .userdata input {
        width: 100% !important;
    }

    .AllComment {
        padding: 8px;
    }
}