.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.pagination a {
  padding: 0 10px;
  font-size: 10pt;
}

.prevbtn,
.nextbtn {
  color: var(--second-color);
  font-weight: bold;
  font-size: 9pt;

}

.disablebtn a {
  color: #808080 !important;
  font-size: 9pt;
  font-weight: normal;

}

.PaginationActive {
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #b8b8b8;
  padding: 3px 0px 1px 0px;
  place-content: center;
  color: var(--gray);
}

.transition {
  animation-name: changePage;
  animation-duration: 2s;
}

.transition>div {
  padding: 0 6px;
}

.loader {
  width: 10%;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

@keyframes changePage {
  0% {
    opacity: 0%;
    transform: scale(0.5, 0.5);
  }

  50% {
    transform: scale(1, 1);
  }

  100% {
    opacity: 100%;
    transform: none;
  }
}

@media(max-width:988px) {
  .tabs div {
    width: 88px;
    font-size: 10pt;
    padding: 5px 2px;
  }

}