.benefit{
    padding: 20px;
    text-align: center;
    height: 150px;
}

.benefit span{
    color: var(--dark-gray);
    margin-top: 16px;
    font-size: 10pt;
    display: block;
}
.benefit img{
    display: inline !important;
}
@media(max-width:912px){
    .benefit{
        padding:12px 4px;
        text-align: center;
        height: 120px;
    }

    .benefit span{
    font-size: 9pt;

    }
    .benefit img{
        width: 55px;
    }
}