.stepperShape {
    height: 24px;
    width: 24px;
    background-color: #aaaaaa;
    border-radius: 15px;

}

.active::after,
.active {
    background-color: var(--main-color) !important;
}

.activeTitle {

    color: var(--main-color);
}

.stepperHover:hover {
    transform: scale(1.08);
    cursor: pointer !important;
}


.stepperHover div:nth-child(1),.stepperHover div:nth-child(2),.stepperHover div:nth-child(3){
    cursor: pointer !important;

}

.stepper div div:not(:last-child)>div::after {
    content: '';
    position: absolute;
    height: 75px;
    width: 1px;
    background-color: #aaaaaa;
    z-index: 1;
}

.stepper>div {
    padding: 50px 0;

}

.stepper {
    text-align: -webkit-center;
    text-align: -moz-center;
    position: sticky;
    display: block;
    top: 0px;
    height: 550px;
    color: var(--gray);

}

.stepper div div {
    margin: 0 0 3.5rem 0;
    position: relative;
    cursor: no-drop;
}

.stepper div div span {
    background-color: #ffffff;
    font-size: 9pt;
    z-index: 20;
    position: absolute;
    width: 98%;
    padding: 2px 0;
    display: block;
    margin: auto;
    top: 24px;
}

@media(max-width:1200px) {
    .displaySteper {
        padding-right: 0;

    }
}

@media(max-width:881px) {
    .displaySteper {
        display: none;
    }
}