.inforamtion {
    padding: 20px;
    position: sticky;
    display: block;
    top: 0
}

.title p {
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 2px solid var(--border-bottom);
    font-size: 12pt;
    font-weight: bold;
    color: var(--gray);
    margin: 0;
}

.detailsInfo {
    font-size: 11pt;
    padding: 12px 0;
}

.detailsInfo ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.detailsInfo>ul>li {
    margin-bottom: 12px;
    color: #a0a0a0;
}

.detailsInfo>ul>li span {
    text-shadow: 0 0 1px silver;
    overflow-wrap: anywhere;
    color: #525252;
    margin-right: 3px;
}

.detailsInfo ul li svg {
    width: 14px;
    color: #808080;
    margin-left: 6px;
}

.price {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px 0;
}

.buy {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 0;
    border-top: 2px solid var(--border-bottom);

}

.off {
    text-decoration: line-through;
    text-decoration-color: red;
    color: #a0a0a0;
    font-size: 11pt;
}

.totalPrice {
    color: var(--primary-green);
    font-size: 14pt;
}

/* .buyBtn {
    background-color: var(--second-color);
    color: var(--primary-white);
    border-radius: 8px;
    padding: 6px 0;
    box-shadow: var(--boxShadow);
    margin-top: 6%;
    cursor: pointer;
    font-size: 11pt;
    text-align: center;
} */

@media(max-width:1163px) {
    .detailsInfo {
        font-size: 9pt;

    }

    .inforamtion {
        padding: 8px;
    }
}
@media(max-width:768px){

.detailsInfo{
    font-size: 10pt;
}
.title p{
    font-size: 13pt;
}
.price span:first-child {

    font-size: 11pt;
}

.price span:last-child {
    font-size: 13pt;
}
.buy button{
    font-size: 12pt;
}
.detailsInfo{
    padding: 12px;
}

}
@media(max-width:500px){
    .buy {
        display: none;
    }
}