.container {
    display: block;
    width: 100%;
    margin: auto;
}

.asanCourse {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-white);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--boxShadow);
    direction: rtl;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
    padding: 0.5em;

}

.asanCourse>img {
    width: 50%;
    border-radius: 0.5rem;

}

.asanCourse>div {
    width: 100%;
}

.courseContent {
    flex-direction: column;
    /* padding: 16px 10px; */
    color: #727272;
}

.courseContent h4 {
    font-size: 14pt;
    font-weight: bold;
    padding: 0.5rem 0 0 0.5rem;
}

.price {
    font-weight: bold;
    font-size: 12pt;
}

.courseContent div {
    font-size: 11pt;
    padding: 4px 0;
}

.courseContent img {
    padding-left: 6px;
}


.price {
    color: var(--primary-green);
    padding: 10px 6px 0;
    border-top: 1px solid var(--border-bottom);
}

.courseTime img {
    width: 26px;
}


.specialoffDisplay {
    border-top: 1px solid var(--border-bottom);
    padding: 6px 0;
}

.disableCourse {
    opacity: 50%;
}

.off {
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
    padding: 0 10pt 5pt;

}

.off div span:first-child {
    color: red !important;
}

.off div:first-child span:first-child {
    text-decoration: line-through;
    text-decoration-color: red;
}

.off div:first-child span:last-child {
    color: var(--primary-green);
    font-size: 10pt;
    font-weight: bold;
}

.off>div:first-child {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.offRate {
    display: flex;
    flex-direction: row-reverse;
}

.offRate img {
    height: 32px;
}

.offRate div {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    text-align: left;
}

.offRate div span:last-child {
    color: var(--gray);
}

@media(max-width:500px) {

    .asanCourse>img {
        width: 40%;
        height: 135px;
    }

    .courseContent div,
    .price {
        font-size: 10pt;
    }


    .courseContent h4 {
        font-size: 11pt;
    }
}

@media(max-width:363px) {

    .asanCourse>img {
        height: 118px;
    }

    .courseTeacher img {
        width: 28px;
    }

    .courseTime img {
        width: 22px;
    }

    .courseContent div {
        font-size: 9pt;
    }


}

@media(max-width:327px) {

    .courseContent h4 {
        font-size: 10pt;
        line-height: 1.5;

    }

    .price {
        font-size: 11pt;

    }



    .courseContent div {
        font-size: 8pt;
    }
}