.container {
    width: 97%;
}

.tabs {
    display: flex;
    align-items: center;
    border-bottom: 3px solid silver;
}

.tabs div {
    width: 112px;
    font-size: 11pt;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
}


.active {
    background-color: #aaaaaa;
    height: 100%;
    border-radius: 10px 10px 0 0;
    z-index: 3;
    color: #ffffff;
}

.dropboxTab {
    display: none;
}

@media(max-width:880px) {
    .container {
        width: 100%;
    }  .tabs div {
        width: 100px;
        font-size: 10pt;
        padding: 4px 0;
    }
}

