.tabs >span{
    display: block;
    border-top: 1px solid var(--border-bottom);
    font-size: 10pt;
    color: var(--dark-pen);
    line-height: 2;
    padding: 8px;
}



#des,
#topics {
    margin-top: 1rem !important;
    line-height: 2;
    padding: 0.5rem;
}

#des>div>p {
    text-align: justify;

}

#des ul {
    padding: 0 1rem 0 0;
}

.active {
    background-color: var(--light-gray);
    color: var(--primary-white) !important;
}

@media(max-width:450px) {
    #topics h4 {
        font-size: 10pt !important;
        line-height: 2;
        font-weight: bold;
    }

    #topics h4 li {

        font-weight: normal;
    }
}