.popupStyle {
    background-color: #3030303d;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99 !important;
    text-align: center;
    height: 100%;
}

.content {
    display: inline-block;
    margin-bottom: 0.5rem;
    text-align: right;
    font-size: 11pt;
    width: 100%;
}

.content>div {

    margin-top: 0.2rem;
}

.content svg {
    width: 10px;

}

.popupStyle>div {
    display: inline-block;
    position: relative;
    background-color: var(--primary-white);
    border-radius: 20px;
    margin-top: 12%;
    padding: 2rem;
    width: 400px;
}

.closeWindow {
    text-align: right;
}

/* .cloasePopup {
    position: absolute;
    top: 0;
    right: 11px;
    color: var(--red-pen);
    width: 10px;
} */

.loading {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40;
    align-items: center;
}

.closeWindow svg {
    width: 14px;
    /* color:var(--red-pen); */
    cursor: pointer;
    color: var(--red-pen)
}

.inputgrouptext {

    padding: 0.75rem !important;
    border-radius: 0 6px 6px 0 !important;
}

.getphone {
    text-align: center;
}

.getphone h4 {
    color: #039BE5;
    margin: 0 0 1.5rem;
    font-size: 16pt;
    text-align: center;
}

.formcontrol {
    /* display: block;
    margin: auto;
    width: 60%;
    padding: 0.375rem 0.75rem;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #5cc3ff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
    margin-top: 2rem; */

    border-radius: 6px 0 0 6px !important;
}

.formcontrol::placeholder {
    color: var(--gray) !important;
    font-size: 10pt;
    margin-bottom: 30px;
}

.formcontrol input[type=number] {
    -moz-appearance: textfield !important;
}

.error {
    color: var(--red-pen);
    font-size: 8pt;
    display: block;
    text-align: right;

}

.success {
    color: rgb(30, 255, 0);
    font-size: 10pt;
    display: block;
    background-color: hsl(148, 100%, 95%);
    padding: 10px;
    margin: 2rem 1rem;
}

.submitPhone {
    display: block;
    margin: auto;
    margin-top: 1rem;

}

.submitPhone button {
    background-color: #039BE5;
    color: white;
    height: 100%;
    padding: 0.5rem 3.5rem;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in-out;
    line-height: 1.4;
    border-radius: 10px;
    border: none;
    box-shadow: rgb(3 155 229 / 55%) 0px 4px 16px;
}

.submitPhone button:hover {
    cursor: pointer;
}

.close {
    display: none;
}


@media(max-width:430px) {
    .popupStyle>div {
        width: 335px;
        margin-top: 6rem;
    }
}

@media(max-width:356px) {
    .popupStyle>div {
        width: 290px;
    }

    .getphone h4 {
        font-size: 13pt;
    }

    .formcontrol {
        font-size: 10pt;

    }
}