.adv>span:last-child {
    height: 80px !important;
}

.timer {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: baseline;
    margin: auto;
    top: 20px;
    right: 48%;
    width: 100px !important;
    flex-direction: row-reverse;
}

.adv {
    position: relative;
    cursor: pointer;
}

.counter {
    font-size: 14pt;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.counter span:first-child {
    background-color: #ffffff;
    padding: 4px 0 0 0;
    width: 35px;
    text-align: center;
    border-radius: 4px;
    margin: 0 4px;
}

.counter span:last-child {
    font-size: 9pt;


}

.advImg {

    width: 100%;
    height: 76px;
}

@media(max-width:768px) {
    .adv {
        margin-top: 3rem;
    }
}

@media(max-width:570px) {
    .adv>span:last-child {
        height: 140px !important;
        width: 100% !important;
    }

    .advImg {
        height: 132px !important;
    }

    .timer {
        top: 80px;
    }
}

@media(max-width:450px) {
    .adv>span:last-child {
        height: 100px !important;
    }



    .timer {
        top: 80px;
        right: 47%;
    }

    .counter span:last-child {
        font-size: 8pt;


    }

    .counter {
        font-size: 11pt;
    }
}