.boxDateTime {
    border: 1px solid var(--gray);
    width: 100%;
    height: 180px;
    padding: 12px 15px 16px;
    border-radius: 8px;
}
.boxDateTime div:first-child span {
    font-weight: bold;
    color: var(--gray);
    font-size: 12pt;
}

.boxDateTime .address {
    color: var(--bs-gray);
    font-size: 10pt;
    padding-top: 20px;
}

.date span {
    display: block;
    text-align: center;

}

.date span:first-child {
    font-size:12pt;
    color: var(--primary-green);
    font-weight: bold;
    margin-bottom: 4px;
}

.date span:last-child {
    font-size: 11pt;
    color: var(--main-color);
    font-weight: bold;
    direction: ltr;
}
.private{
    text-align: center;
    font-size: 12pt;
    color: var(--primary-green);
    font-weight: bold;
}
@media(max-width:368px){
    .boxDateTime  div > img{
        width:50px;
    }
    .boxDateTime{
        height: 150px;
    }
    .boxDateTime div:first-child span {
       
        font-size: 10pt;
    }
    .boxDateTime .address{
        font-size: 9pt;

    }
}
@media(max-width:300px){
    .boxDateTime  div > img{
        width: 36px;
    }
    .boxDateTime .address{
      padding-top: 8px;

    }
    .boxDateTime{
        height: 120px;
    }
}