:root {
  --primary-white: #ffffff;
  --boxShadow: 0px 0px 6px rgb(216 214 214);
  --boxShadow-orange: 0px 3px 6px rgb(255 102 1 / 38%);
  --main-color: #FF6601;
  --second-color: #00A9AC;
  --dark-gray: #353535;
  --gray: #6c757d;
  --dark-pen: #535353;
  --primary-green: #00c721;
  --border-bottom: #adadad;
  --boxShadow-dark: 0px 0 6px #7d7a7a99;
  --light-blue: #a3e0e1;
  --light-gray: #d1d1d1;
  --red-pen: #ff1a1a;

}

.element::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(188, 188, 188);
  border-radius: 4px;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('/assets/Fonts/fonts/eot/IRANSansWeb.eot');
  src: url('/assets/Fonts/fonts/eot/IRANSansWeb.eot') format('embedded-opentype'), url('/assets/Fonts/fonts/woff/IRANSansWeb.woff') format('woff'), url('/assets/Fonts/fonts/ttf/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranNastaliq';
  src: url('/assets/Fonts/IranNastaliq.ttf');
  src: url('/assets/Fonts/IranNastaliq.ttf') format('embedded-opentype'), url('/assets/Fonts/IranNastaliq.ttf') format('woff'), url('/assets/Fonts/IranNastaliq.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IRANSansWeb' !important;
  background-color: #fafafa !important;
  overflow-x: hidden;
  direction: rtl;
  height: 100%;
  scroll-behavior: smooth
}



.rh5v-Overlay_inner {

  right: 45% !important;
}

.rh5v-Volume_icon,
.rh5v-Fullscreen_icon,
.rh5v-PlayPause_icon {
  padding: 0px !important;
}

.rh5v-Overlay_icon {

  right: 16% !important;
}

.rh5v-DefaultPlayer_component {
  background-color: #ff000000 !important;
}



.scrrollup {
  width: 50px;
  color: #bcb3b3;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 99;
  cursor: pointer;
}

.spaceEvenly {

  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.paddig0 {
  padding: 0 !important;
}

a {
  color: var(--dark-pen) !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.flexcenter {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

.colStyle {
  width: 100% !important;
  background-color: var(--primary-white);
  border-radius: 12px;
  box-shadow: var(--boxShadow);
  overflow: hidden;

}

.fixedSteper {
  position: fixed;
  left: 40px;
}

.mainBtnStyle {
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 8px 20px;
  color: white !important;
  box-shadow: 0px 3px 6px rgb(255 102 1 / 38%);
  font-size: 10pt;
  border: none;
  display: inline-block;
  cursor: pointer;


}

.flex {
  display: flex;
}

.right {
  justify-content: right;
}

.form-control:focus {
  box-shadow: none !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.secondMainBtn {
  background-color: var(--second-color);
  color: var(--primary-white);
  border-radius: 8px;
  margin: auto;
  padding: 8px 16px;
  box-shadow: var(--boxShadow);
  width: 96%;
  margin-top: 6%;
  cursor: pointer;
  font-size: 11pt;
  display: block;
  border: none;
  text-align: center;
}

.slick-slide {
  padding: 10px 12px 0 12px;
}

.slick-arrow::before {

  color: #d4d4d4 !important;
}

.slick-slider {
  margin: 0 0 3rem 0;
}

.form-check-input[type=radio] {
  border-radius: 20% !important;
}

.Toastify__toast {
  font-family: 'IRANSansWeb' !important;
}



@media(max-width:1200px) {
  .rightPadding {
    padding: 0 10px 0 0 !important;
  }

  .leftPadding {
    padding: 0 0 0 10px !important;
  }
}

@media(max-width:1060px) {
  .mainBtnStyle {
    padding: 8px 12px;
    font-size: 9pt;
  }
}

@media(max-width:500px) {
  #crisp-chatbox a {
    display: none !important;
  }

}

@media(max-width:480px) {
  .Toastify__toast-container--top-right {
    text-align: center !important;
    right: 0em !important;

  }

  .scrrollup {
    display: none;
  }

  .rh5v-Overlay_icon {
    width: 28px !important;
  }

  .rh5v-Overlay_inner {

    width: 41px !important;
    height: 38px !important;
  }
}