
.spliter div{
    width: 65%;
    height: 10px;
    background-color: #329ead;
    border-radius: 10px 0 0 10px;
    float: right;
    margin-right: -79px;
}
.spliter span{
    margin-right: 12px;
    font-size: 12pt;
}
.spliter{
  display: flex;
  justify-content: right;
  align-items: center;
}